.error-page {
  height: 100vh;
}

.error-page__message {
  position: absolute;
  left: 50%;
  top: 50%;

  margin: 0;
  padding: 0 28px;

  transform: translate(-50%, -50%);
  max-width: 640px;
  width: 100%;

  font-size: 38px;
  font-style: oblique;
  font-weight: 700;
  line-height: 1.21053;
  text-align: center;
}
